body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: black;
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: gainsboro;
}

#zelazny {
    z-index: 1000;
    overflow-y: scroll;
  
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  
    background-color: #020202;
    color: #BFD7B5;
    border: solid 1px #BFD7B5;
    padding: 3px 3px 3px 3px;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 13pt;
}

/*  Zelazny styles   */
.action-link {
    color: #006D77;
    cursor: pointer;
}
.default-link {
    font-style: italic;
}
.action-span {
    display: none;
}
.zelazny-close {
    cursor: pointer;
    color: #FF37A6;
}
  

/*   Scroll Bar  */
.scroll::-webkit-scrollbar {
    width: 10px;
}
  
.scroll::-webkit-scrollbar-track {
    background: #BFD7B5;
}
  
.scroll::-webkit-scrollbar-thumb {
    background: #006D77;
}
  
.scroll::-webkit-scrollbar-thumb:hover {
    background: #FF37A6;
}