body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    background-color: black;
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: gainsboro;
}

#zelazny {
    z-index: 1000;
    overflow-y: scroll;
  
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  
    background-color: #211A1D;
    color: #F8F0FB;
    border: solid 1px #DFF2D8;
    padding: 3px 3px 3px 3px;
    font-family: Helvetica, Georgia, Cochin, Times, 'Times New Roman', serif;
    font-size: 13pt;
}

/*  Zelazny styles   */
.action-link {
    color: #5EF38C;
    cursor: pointer;
}
.default-link {
    font-style: italic;
}
.action-span {
    display: none;
}
.zelazny-close {
    cursor: pointer;
    color: #D0FCB3;
}
  

/*   Scroll Bar  */
.scroll::-webkit-scrollbar {
    width: 10px;
}
  
.scroll::-webkit-scrollbar-track {
    background: #7E7F83;
}
  
.scroll::-webkit-scrollbar-thumb {
    background: #B4C5E4;
}
  
.scroll::-webkit-scrollbar-thumb:hover {
    background: #DFF2D8;
}